@import '../../shared/common-styles';

.backgroundContainer {
  background-image: url('/assets/bg-pattern.png')!important;
  background-repeat: repeat;
  height: calc(100% - 64px);
  overflow-y: hidden;
}

.authContainer {
  border: 1px solid #ccc;
  box-shadow: 0 0 8px #bbb;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 30px 30px;
  background: #fff;
  margin-top: 75px;
}

.authHeader {
  margin-bottom: 30px;
  font-weight: 700;
  color: #cb171e;
}

.authSubheader {
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 20px;
  color: #626a73;
}

label {
  color: #626a73;
  font-size: 14px;
}

#firstName,
#lastName,
#email,
#password,
#password2 {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#firstName,
#lastName,
#email:focus,
#password:focus,
#password2:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.authButton {
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #cb171e;
  margin-top: 30px;
  margin-bottom: 20px;
}

.otherLink {
  font-size: 14px;
}